<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_5GB8riGuCURAFQnLW0upivb2nxhM81g</string>
	<key>GCM_SENDER_ID</key>
	<string>165916312692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nasiya</string>
	<key>PROJECT_ID</key>
	<string>nasiya-8ed62</string>
	<key>STORAGE_BUCKET</key>
	<string>nasiya-8ed62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165916312692:ios:f85441eb60a34ac5917d21</string>
</dict>
</plist>